@{
    ViewBag.Title = "Thank You";
}

<h2> Thank You for ordering!</h2>
<strong>
    Note: <br />
    You can pick-up your order the day after the checkout process.<br />
    Pick-up address: Olavs gt. 17, 3257 Larvik Norway <br />
    Near Locations: MENY matbutikk and REMA1000 matbutikk Larvik Sentrum <br /><br />
</strong>

For more <strong>information</strong> or <strong>requests</strong> please call: <strong>
    tlf. 477 187 36</strong>
    <br /><br />

    Order Id =@ViewBag.OrderId
